*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(127, 172, 212);
}

.cartão{
    width: 260px;
    height: 200px;
}

.cartão-imagem{
    width: 100;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

.cabeçalho-link{
    color: rgb(242, 247, 247);
}

h1{
    color: rgb(242, 247, 247);
    font-size: 24px;
}

footer{
    background-color: rgb(124, 180, 180);
    padding: 15px 25px;
    color: rgb(74, 126, 126);
}

.cartão-interno {
    position: relative;
    transition: transform 0.8s;
}

.cartão:hover .cartão-interno {
    transform: rotateY(180deg);
}

.cartão-frente .cartão-verso {
    position: absolute;
    border-radius: 12px;
    box-shadow: o 6px 12px color(srgb red rgb(130, 189, 130) blue);
    backface-visibility: hidden;
}

.cartão-verso {
    transform: rotateY(180deg);
}